{{define "title"}}{{.Server.Name}} - Server List{{end}}

{{define "body"}}
<h2>{{.Server.Name}}</h2>
<p><b>IP</b>: {{.Server.IP}}</p>
<p><b>Created</b>: {{.Server.Created}}</p>
<p><b>Version</b>: {{.Server.Version}}</p>
<p><b>Gamemodes</b>: {{.Server.Gamemodes}}</p>
<p><b>Languages</b>: {{.Server.Languages}}</p>
<p><b>Description</b>: {{.Server.Description}}</p>
<button class="copy-btn" data-ip="{{.Server.IP}}">Copy IP</button>
<br><br>
<a class="button" href="{{.Root}}index.html">&larr; Back to list</a>
{{end}}
