{{define "title"}}List - Server List{{end}}
{{define "body"}}
<div class="filter-bar">
    <select id="search-field">
        <option value="0" selected>Name</option>
        <option value="1">IP</option>
    </select>
    <input type="text" name="search" placeholder="Ashframe" />
    <input type="date" id="date-filter" />
</div>
<p id="no-results" style="display: none;">No servers found.</p>
<table>
   <tr>
      <th>Name</th>
      <th>IP</th>
      <th>Playercount</th>
      <th>Version</th>
      <th>Created</th>
   </tr>
   {{range .Servers}}
   <tr>
      <td><a href="servers/{{.Slug}}/">{{.Name}}</a></td>
      <td>{{.IP}}</td>
      <td>Playercount</td>
      <td>Version</td>
      <td>{{.Created}}</td>
   </tr>
   {{end}}
</table>
{{end}}
