@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --primary: #2596f2;
    --secondary: #4f728f;
}

body {
    font-family: "Roboto Mono", monospace;
}

table {
    border: 1px solid var(--secondary);
    border-radius: 5px;
    padding: 5px;
}

tr, td {
    border: 1px solid var(--secondary);
}

a {
    text-decoration: none;
    color: var(--primary);
}

.button {
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 7px;
    background-color: var(--primary);
}

.button:hover {
    background-color: var(--secondary);
    border: 1px solid var(--secondary)
}