<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cubyz Server List</title>
    <link rel="stylesheet" href="/static/base-mint.css">
    <link rel="stylesheet" href="/static/dark.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <div class="name">
            <a href="/" style="text-decoration: none;"><h1 class="special-font">Ironite</h1></a>
        </div>
        <nav>
            <a href="/servers/create" class="button secondary">Create Server</a>
            <a href="/list" class="nav-btn"><b>List</b></a>
            {{ if .IsLoggedIn }}
            <a href="/account" class="nav-btn"><b>Account</b></a>
            {{ else }}
            <a href="/login" class="nav-btn"><b>Log in</b></a>
            <a href="/register" class="nav-btn"><b>Register</b></a>
            {{ end }}
            <a href="/info" class="nav-btn"><b>Info</b></a>
        </nav>
    </header>
    
    <main>
        {{ template "content" . }}
    </main>

    <footer>
        <p>&copy; 2026 Ironite</p>
    </footer>
</body>
</html>
